<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ProjectB</title>
    <link rel="stylesheet" type="text/css" href="group.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body class="main">
    <nav class="header navbar">
      <a href="index.html"><span class="navbar-brand navbar-text">ProjectB</span></a>
      <a type="button" class="btn btn-primary btn-lg login navbar-text" href="login.html">Вход</a>
    </nav>

      <div class="container">
        <div class="osnov">
          <a href="#" onclick="history.back();">Назад</a>
          <h1>Информационные технологии</h1>
          <div class="block">
            <span>Всероссийская олимпиада по информатике</span>
            <div class="photo">
              <img src="image/sert1.jpg" alt="">
            </div>
          </div>
          <div class="block">
            <span>Всероссийская олимпиада по информатике</span>
            <div class="photo">
              <img src="image/sert1.jpg" alt="">
            </div>
          </div>
        </div>
      </div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>