html, body{
	height: 100%;
}
.main{
  background-color: #d0d0d0;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.header{
  background-color: #4a76a8;
  padding-left: 20px;
  padding-right: 20px;
}
.header span, a{
  font-size: 30px;
  color: #ffffff;
}
.login{
  float: right;
  padding-right: 20px;
  color: #F5F4F6 !important;
  border-color:#1D2837 !important;
  background-color: #1D2837 !important;
}
.search-site{
  margin-top: 450px;
}
.search-site input{
  font-size: 40px;
}