html, body{
	height: 100%;
}
.main{
  background-color: #d0d0d0;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.header{
  background-color: #4a76a8;
  padding-left: 20px;
  padding-right: 20px;
}
.header span, a{
  font-size: 30px;
  color: #ffffff;
}
.login{
  float: right;
  padding-right: 20px;
  color: #F5F4F6 !important;
  border-color:#1D2837 !important;
  background-color: #1D2837 !important;
}


.formbox{
  margin-top: 30px;
  background-color: #ffffff;
	padding: 10px;
	border-radius: 10px;
  min-height: 300px;
  height: 100%;
}
.formbox a{
  font-size: 18px;
  text-decoration: none;
  color: #4f4f50;
}
.formbox a:hover{
  text-decoration: none;
  color: #EF5B65;
}
.formb{
  margin: 15% 50px;
}
.form-group label{
  font-size: 35px !important;
}
.form-group input{
  font-size: 25px !important;
}
.nadp{
  font-size: 50px;
}