html, body, .container {
	height: 100%;
}
.main{
  background-color: #E9EBE9;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.header{
  background-color: #7C7D78;
  padding-left: 20px;
  padding-right: 20px;
}
.header span, a{
  font-size: 30px;
  color: #F5F4F6;
}
.login{
  float: right;
  padding-right: 20px;
  color: #F5F4F6 !important;
  border-color:#1D2837 !important;
  background-color: #1D2837 !important;
}






.foot{
  background-color: #7C7D78;
  width: 100%;
  flex: 0 0 auto;
}
.f{
  width: 100%;
}
.foot span{
  font-size: 20px;
  color: #F5F4F6;
}