html, body{
	height: 100%;
}
.main{
  background-color: #d0d0d0;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
.header{
  background-color: #4a76a8;
  padding-left: 20px;
  padding-right: 20px;
}
.header span, a{
  font-size: 30px;
  color: #ffffff;
}
.login{
  float: right;
  padding-right: 20px;
  color: #F5F4F6 !important;
  border-color:#1D2837 !important;
  background-color: #1D2837 !important;
}

.profile{
  background-color: #ffffff;
	padding: 20px;
	border-radius: 10px;
  margin-top: 30px;
  min-height: 600px;
  width: 100%;
}
.info span{
  font-size: 40px;
}
.pod-info span{
  font-size: 20px;
  margin-left: 5px;
}
.photo{
  width: 250px;
  height: 250px;
}
.photo img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.formb{
  margin: 30px;
}
.formb button{
  margin-left: 15%;
}
.form-group label{
  font-size: 35px !important;
  margin-left: 15%;
}
.form-group input{
  font-size: 25px !important;
  margin-left: 15%;
}
.nadp{
  font-size: 50px;
}